# Entry for socialpulse-common that works well with local development.  By using
# the editable entry, a developer can make changes to the common library and
# see the changes immediately.  This means the developer doesn't have to
# un-install and re-install the common library after each change.
-e ../shared_lib
