cloud-sql-python-connector[psycopg2]
db-dtypes
fastapi
google-cloud-logging
parameterized
protobuf
psycopg2-binary
pyarrow
pytest
pytest-cov
uvicorn
yoyo-migrations

# Shared social pulse library
socialpulse-common==0.1.0
