__pycache__
dist/
*.egg-info/
.vscode
.coverage

# Ignore protobuf generated Python files
**/*_pb2.py

# Ignore local env variable overrides
.env

# Ignore Terraform related artifacts
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
social_pulse.zip
