__pycache__
dist/
*.egg-info/
.vscode
.coverage
**/*.log
build/
.venv
*.MINE
packages/
.agents

# Ignore protobuf generated Python files
**/*_pb2.py

# Ignore local env variable overrides
.env
.deployment_info.txt

# Ignore Terraform related artifacts
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
social_pulse.zip

# Ignore NPM based files
node_modules/
.next/
dist/
.env.local
**/.npmrc
**/.idx

# Ignore TypeScript files
*.tsbuildinfo
next-env.d.ts
