# Cloud Settings
APP_ENV=dev

CLOUD__PROJECT_ID=[Your GCP project ID]
CLOUD__REGION=us-central1
CLOUD__DATASET_NAME=social_pulse_sentiment_data
CLOUD__TASK_SCHEDULER_HOST=localhost
CLOUD__TASK_SCHEDULER_PORT=7000
CLOUD__REPORT_BACKEND_API_URL=http://127.0.0.1:8008
CLOUD__WORKFLOW_RUNNER_API_URL=http://127.0.0.1:8080

# API Settings
API__YOUTUBE__KEY=[your API key]
API__YOUTUBE__SERVICE_NAME=youtube
API__YOUTUBE__VERSION=v3

# Database Settings
DB__HOST=localhost
DB__PORT=5432
DB__USERNAME=social_pulse_user
DB__NAME=social_pulse_db
DB__PASSWORD=social_pulse
