cloud-sql-python-connector[psycopg2]
coverage
db-dtypes
google_api_python_client
luigi
pandas
parameterized
protobuf
psycopg2-binary
pyarrow
pytest
pytest-cov
vertexai
yoyo-migrations

# Shared social pulse library
-e file:../shared_lib