cloud-sql-python-connector[psycopg2]
db-dtypes
fastapi
functions-framework
google_api_python_client
google-cloud-logging
google-cloud-pubsub
google-cloud-secret-manager
luigi
pandas
parameterized
protobuf
psycopg2-binary
pyarrow
pytest
pytest-cov
vertexai
yoyo-migrations
google-genai

# Shared social pulse library
socialpulse-common==0.1.0
httpx
